#root {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

main {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: main-view;
}
